extends layout

block title
  | Rails team dashboard

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='nextmeetup', data-view='Nextmeetup', data-title='Next Ruby Zagreb Meetup is in', data-moreinfo="www.meetup.com/rubyzg")
      li(data-row="1" data-col="4" data-sizex="1" data-sizey="2")
        div(data-id="bugsnag" data-view="List" data-unordered="true" data-title="Bugsnag" data-moreinfo="# of open errors")
